#music-container{
    max-width: 30vw;
    max-height: 50vh;
    position: fixed;
    left: 35vw;
    height: 25vh;
}

#artwork-canvas{
    position: relative;
    max-width: 100%;
    max-height: 70%;
}