@charset "UTF-8";
/*==============================> TEMAS <======================================*/
.default{
    --bg-upperArea :#343057;
    --bg-leftArea :#BB5E5E;
    --bg-rightArea :#AE3434;
    --bg-centerArea :#BB5E5E; 
}
.light{

}
.dark{

}

/* ============================> AREA DE BUSQUEDA <============================*/
div#head{
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: var(--bg-upperArea);
    top: 0;
    left: 0;
}
.icon{
    position: absolute;
    display: inline-block;
    width: 3%;
    height: 70%;
    top: 10%;
}
input#searchBox{
    position: absolute;
    display: inline-block;
    top: 29%;
    left: 6%;
    width: 84%;
    height: auto;
    font-size: 17px;
}
div#resultsToSearch{
    position: absolute;
    top: 75%;
    display: none;
    left: 6%;
    width: 85.1%;
    height: 320%;
    background-color: azure;
    z-index: 1;
    transition-property: top;
    transition-duration: 3s;
}
img#downloadIcon{
    left: 94%;
}
img#homeIcon{
    left: 1%;
}

/* ============================> AREA DE LISTADO DE ARTISTA - ALBUM <============================*/
div#viewAlbumAndArtist{
    position: absolute;
    width: 25%;
    height: 90%;
    background-color: var(--bg-leftArea);
    top: 10%;
    left: 0;
}

/* -------------------------- NAVEGADOR DE ARTISTAS -------------------------- */ 
#titleArtist{
    position: absolute;
    top: 1%;
    left: 4%;
    font-size: 25px;
    color: white;
}
div#artist{
    overflow:auto;
    position: absolute;
    width: 91%;
    height: 42%;
    top: 6%;
    left: 4%;
    background-color: white;
}
table#tableOfResults td{
    min-width: 1360px;
    height: 15%;
}
table{
    position: absolute;
    display: block;
    background-color: white;
    top:0;
    font-size: 17px;
    width: 100%;
    height: auto;
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: #55BB6A;
    color: white;
    cursor: pointer;
}
td {
    min-width: 361px;
    height: 15%;
}

/* -------------------------- NAVEGADOR DE ALBUMES -------------------------- */
#titleAlbum{
    position: absolute;
    top: 51%;
    left: 4%;
    font-size: 25px;
    color: white;
}
div#album{
    position: absolute;
    width: 91%;
    height: 42%;
    top: 56%;
    left: 4%;
    background-color: #fff;
}

/* ==========================> AREA DE VISUALIZACION DE INFORMACION DE LA CANCION <================================*/
div#viewInfo{
    position: absolute;
    width: 50%;
    height: 90%;
    background-color: var(--bg-rightArea);
    background: linear-gradient(to top left, #BF3838, #D07B7B, #EA1414);
    top: 10%;
    left: 25%;
    display: inline-block;
    text-align: center;
}

img#albumImage{
    position: relative;
    width: 25%;
    height: auto;
}
span#nameCurrentSong{
    position: relative;
}
span#artistCurrentSong{
    position: relative;
}
audio{
    position: absolute;
    top: 92%;
    left: 0px;
    width: 67%;
    background:linear-gradient(to top left, #7D7575, #5E4949, #000000);
}
div#controllers{
    position: absolute;
    top: 83%;
    left: 0%;
    width: 100%;
    height: 17%;
    background:linear-gradient(to top left, #7D7575, #5E4949, #000000);
}

/*---------------------BARRA DE CONTROL Y ELEMENTOS ADYACENTES--------------------------*/
div#scrollBar {
    width: 75%;
    height: 10%;
    background-color: black;
    display: flex;
    border-radius: 50px;
    margin-left: 25px;
    cursor: pointer;
    top: 68%;
    position: absolute;
    left: 8%;
}
img#playIcon{
    position: absolute;
    top: 17%;
    left: 46%;
    width: 5%;
    height: auto;
}
img#previousIcon{
    position: absolute;
    top: 26%;
    left: 39%;
    width: 2.5%;
    height: auto;
}
img#nextIcon{
    position: absolute;
    top: 26%;
    left: 55%;
    width: 2.5%;
    height: auto;
}
img#volumenIcon{
    position: absolute;
    top: 65%;
    left: 94%;
    width: 1.8%;
    height: auto;
}
img#volumenIcon:hover{
    -webkit-transform:scale(1.2);transform:scale(1.2);
}

span#currentTime{
    position: absolute;
    color: white;
    font-size: 15px;
    top: 65%;
    left: 5%;
}
/*----------------- BARRA DESPLAZADORA DE PROGRESO------------*/
input[type=range]{
    position: absolute;
    top: 62%;
    width: 76%;
    left: 10%;
    -webkit-appearance: none;
    background: transparent;
}
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    outline: none;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: red;
    cursor: pointer;
}
  
.custom-progress {
    position: absolute;
    top: 69%;
    left: 11%;
    width: 75%;
    height: 5%;
    border: none;
    border-radius: 50px;
}

.custom-progress::-webkit-progress-bar {
    border-radius: 20px;
}

.custom-progress::-moz-progress-bar {
    border-radius: 5px;
    background-color: #6f2591;
}

span#duration{
    position: absolute;
    color: white;
    font-size: 15px;
    top: 65%;
    left: 88%;    
}

/* ============================> AREA DE VISUALIZACION DE LETRAS DE LA CANCION <============================*/
div#viewLyric{
    position: absolute;
    width: 25%;
    height: 90%;
    background-color: var(--bg-centerArea);
    top: 10%;
    left: 75%;
}
div#lyric{
    position: absolute;
    text-align: center;
    justify-content: center;
    background-color: #E0D8D8;
    color: black;
    top: 6%;
    left: 5%;
    width: 91%;
    height: 89%;
    border-spacing: 5px;
}
p{
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

/*========================== RESPONSIVE ========================================*/

@media screen and (max-width: 720px){
    div#viewInfo{
        background-color: green;
    }
    img#downloadIcon{
        width: 6.5%;
        height: 43px;
        top:25%;
    }
}